@import "mixin.scss";

.container-banner {
  @include banner-position;

    img {
      @include banner-img-size
    } 

    .texte-over {
      width: max-content;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      color: white;
      font-size: 48px;

      @media (max-width:600px) {
        font-size: 24px;
        width: 217px;
        text-align: left;
        left: 8rem;
        font-weight: 500;
      }
    }
}
