@import "./color.scss";

.error {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    color: $primary-color;
    font-size: 288px;
    font-weight: 900;

    @media (max-width: 1024px) {
      font-size: 192px;
    }

    @media (max-width: 600px) {
      font-size: 96px;
    }
  }

  p {
    color: $primary-color;
    font-size: 36px;
    text-align: center;

    @media (max-width: 1024px) {
      font-size: 26px;
    }

    @media (max-width: 600px) {
      font-size: 18px;
    }

  }

  .link-home {
    color: $primary-color;
    font-size: 18px;
    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 1024px) {
      font-size: 16px;
    }

    @media (max-width: 600px) {
      font-size: 14px;
    }
  }
}
