footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  height: 210px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  
  .kasa-svg {
    width: 100px;
  }
}