@import "./color.scss";

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 45px;

  .logo-Kasa {
    color: $primary-color;
    font-size: 90px;

    img, a {
      padding: 0px 5px;
      margin: 0px;
      &:hover {
        opacity: 1;
        scale: 1.1;
        cursor: pointer;
      }
    }
  }
  
  div {
    list-style-type: none;
   
    .active {
      text-decoration: underline;
    }

    a {
      color: $primary-color;
      margin-left: 60px;
      font-weight: 500;
      font-size: 24px;

      &:hover {
        opacity: 50%;
      }
    }
  }
}