@import "./color.scss";

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 15vh;

  @media (max-width: 600px) {
    height: 10vh;
  }

  .logo-Kasa {
    color: $primary-color;
    font-size: 90px;
    font-weight: 600;

    @media (max-width: 600px) {
      font-size: 50px;
    }

    img, a {
      padding: 0px 5px;
      margin: 0px;
      vertical-align: middle;

      @media (max-width: 600px) {
        width: 30px;
        padding: 2px;
        
      }
      &:hover {
        opacity: 1;
        scale: 1.1;
        cursor: pointer;
      }
    }
  }
  
  div {
    list-style-type: none;
   
    .active {
      text-decoration: underline;
    }

    a {
      color: $primary-color;
      margin-left: 60px;
      font-weight: 500;
      font-size: 24px;

      @media (max-width: 600px) {
        font-size: 16px;
        margin-left: 20px;
      }

      &:hover {
        opacity: 50%;
      }
    }
  }
}