@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body, html, #root {
  margin: 0 auto;
  font-family: 'Montserrat';
  max-width: 1440px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    cursor: default;
  }
}

main {
  flex-grow: 1;
}

h1, 
h2,
p {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

main, nav {
  margin-left: 100px;
  margin-right: 100px;

  @media (max-width: 1024px) {
    margin-left: 20px;
    margin-right: 20px;
  }
}