.star-wrap {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;

  img{

    @media (max-width: 1024px) {
      height: 20px;
    }

    @media (max-width: 600px) {
      height: 13px;
    }
  }
}